
.Nasa-image{
    width: 82px;
    height: 80px;
    position: fixed;
    margin: 50px;
    z-index: 2;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/2449px-NASA_logo.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.input{
    display: none;
}

.black{
    position: absolute;
    width: 110vw;
    height: 110vh;
    background-color: #1a0031;
    top: 0;
    left: 0;  
    opacity: 0;
    transform: translateY(-1500px);
    transition: 0.5s;
    
}

.black-text{
    padding: 350px 40px 0px 40px  ;
font-size: 20px;
font-family: 'Comfortaa', cursive;
color: #ebebeb;

}

.input[type="checkbox"]:checked ~ .black{
    opacity: 1;
    z-index: 1;
    transform: translate(0px);

}
input{
    display: none;
}


.boost img{
    margin: 150px 62px;
}
.input-star[type="checkbox"]:checked ~ .star:nth-child(1){
    animation: star_1 0.9s linear infinite ; 
    

}
.input-star[type="checkbox"]:checked ~ .star:nth-child(2){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 1s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(3){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 2s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(4){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 3s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(5){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 1s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(6){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 2s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(7){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 3s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(8){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 4s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(9){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 5s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(10){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 1s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(11){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 2s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(12){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 3s;

}
.input-star[type="checkbox"]:checked ~ .star:nth-child(13){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 5s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(14){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 1s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(15){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 2s;

}
.input-star[type="checkbox"]:checked ~ .star:nth-child(16){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 3s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(17){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 3s;

}

.input-star[type="checkbox"]:checked ~ .star:nth-child(18){
    animation: star_1 0.9s linear infinite ; 
    animation-delay: 2s;

}


















body{
    background-color: #000000;
    overflow: hidden;
}

.rocket {
    width: 400px;
    height: 481px;
    border: 1px solid #000;
    display: flex;
    margin: 10px auto;
    justify-content: center;
    z-index: 4;
}
.wing-left {
    width: 0px;
    height: 0px;
    border-left: 70px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 140px solid #ff0000;
    margin-top: auto;
    margin-right: -10px;
}

.head {
    width: 0px;
    height: 0px;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 180px solid #ff0000;
    margin: 0px auto;
}
.body {
    width: 180px;
    height: 300px;
    border:1px solid #ebebeb;
    background-color: #ebebeb;
    margin: 0px auto;
    
}
.fair {

}
.motor{
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
    width: 150px;
    height: 20px;
    background-color: #ff0000;
}
.nasa{
    margin: 100px  40px;
}
.wing-right {
    width: 0px;
    height: 0px;
    border-left: 0px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 140px solid #ff0000;
    margin-top: auto;
    margin-left: -10px;
}


@keyframes star_1{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(800px);
    }
}
@keyframes star_1{
    0%{
        transform: translateY(0px);
    }
    50%{
        in
    }
    100%{
        transform: translateY(700px);
    }
}

.star:nth-child(1){
    position: absolute;
    left: 109px;
    top: 55px;
    
     animation: star_1 5s linear infinite ; 
}
.star:nth-child(2){
    position: absolute;
    left: 79px;
    top: -50px;
    
    animation: star_1 5s linear infinite ; 
    animation-delay: 1s;
}
.star:nth-child(3){
    position: absolute;
    left: 129px;
    top: -50px;
    
    animation: star_1 5s linear infinite ; 
    animation-delay: 2s;
}
.star:nth-child(4){
    position: absolute;
    left: 60px;
    top: -50px;
    animation: star_1 5s linear infinite ; 
    animation-delay: 3s;
}










.star:nth-child(5){
    position: absolute;
    left: 352px;
    top: -50px;
    animation: star_1 5s linear infinite ; 
    animation-delay: 1s;
}
.star:nth-child(6){
    position: absolute;
    left: 372px;
    top: -55px;
    
     animation: star_1 5s linear infinite ;
     animation-delay: 2s; 
}
.star:nth-child(7){
    position: absolute;
    left: 302px;
    top: -55px;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 3s;
}
.star:nth-child(8){
    position: absolute;
    left: 202px;
    top: -55px;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 4s;
}


.star:nth-child(9){
    position: absolute;
    right: 405px;
    top: -57px;
    
     animation: star_1 5s linear infinite ; 
}
.star:nth-child(10){
    position: absolute;
    right: 245px;
    top: -50px;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 1s;
}
.star:nth-child(11){
    position: absolute;
    right: 290px;
    top: -40px;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 2s;
}
.star:nth-child(12){
    position: absolute;
    right: 358px;
    top: -54px;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 3s;
}

.star:nth-child(13){
    position: absolute;
    right: 50px;
    top: 0px;
    
     animation: star_1 5s linear infinite ; 
}
.star:nth-child(14){
    position: absolute;
    right: 89px;
    top: -53px;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 1s;
}
.star:nth-child(15){
    position: absolute;
    right: 79px;
    top: -55px;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 2s;
}
.star:nth-child(16){
    position: absolute;
    right: 109px;
    top: -50px;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 3s;
}

.star:nth-child(17){
    position: absolute;
    right: 600px;
    top: -50px;
    z-index: -1;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 3s;
}
.star:nth-child(18){
    position: absolute;
    right: 900px;
    top: -50px;
    z-index: -1;
    
     animation: star_1 5s linear infinite ; 
     animation-delay: 2s;
}


.f1{
    transform:rotate(180deg);
    /* margin-left: 25px; */
}
